.footer-contenedor{
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60%;
    grid-template-rows: auto;
    width: 100%;
    text-align: center;
}
.footer-contenedorSecundario{
    background-color: var(--colorfondofinal);
}
.footer-contenedorSecundario h3{
    margin: 0 15px 50px 15px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 15px;
}
.footer-contenedorSecundario  a{
    text-decoration: none;
    color: var(--colorparrafo2);
    font-family: var(--tipog4);
}
.footer-contenedorSecundario h4{
    font-family: var(--tipog4);
    color: var(--colorparrafo2);
    margin-top: 0;
}
.footer-org-whats{
    display: flex;
    justify-content: center;
}
.footer-nombre{
    font-size: 50px;
    margin-bottom: 0;
}
.footer-org-whats-img{
    width: 15px;
    height: 15px;
    color:var(--colorparrafo2)
}
.footer-final{
    font-family: var(--tipog4);
    font-size: 8px;
    margin: 20px;
    color: gray;
}