:root {
  --carbon-darkest: rgba(36, 38, 43, 1);
  --carbon-neutral300: rgba(214, 217, 221, 1);
  --gray-400: rgba(152, 162, 179, 1);
  --secondarymain: rgba(28, 81, 254, 1);
  --white: rgba(255, 255, 255, 1);
}